USE [master]
GO
/****** Object:  Database [DATABASE_NHOM6_SHOPTAO]    Script Date: 11/16/2022 4:50:39 AM ******/
CREATE DATABASE [DATABASE_NHOM6_SHOPTAO]
GO
USE [DATABASE_NHOM6_SHOPTAO]
GO
/****** Object:  Table [dbo].[DongSanPham]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DongSanPham](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](50) NULL,
	[ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_DongSanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](10) NULL,
	[ngaytao] [date] NULL,
	[ngaythanhtoan] [date] NULL,
	[trangthai] [int] NULL,
	[idkhachhang] [uniqueidentifier] NULL,
	[idnhanvien] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[idhoadon] [uniqueidentifier] NOT NULL,
	[idsanpham] [uniqueidentifier] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [decimal](20, 0) NULL,
 CONSTRAINT [PK_HoaDonChiTiet] PRIMARY KEY CLUSTERED 
(
	[idhoadon] ASC,
	[idsanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](50) NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[sdt] [varchar](10) NULL,
	[diachi] [nvarchar](50) NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](50) NULL,
	[ten] [nvarchar](50) NULL,
	[giatri] [float] NULL,
	[ngaybatdau] [date] NULL,
	[ngayketthuc] [date] NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MauSac](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](50) NULL,
	[ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_MauSac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](10) NULL,
	[hoten] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[ngaysinh] [date] NULL,
	[sdt] [varchar](10) NULL,
	[email] [varchar](100) NULL,
	[diachi] [nvarchar](200) NULL,
	[matkhau] [nvarchar](30) NULL,
	[vaitro] [nvarchar](30) NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/16/2022 4:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [uniqueidentifier] NOT NULL,
	[ma] [varchar](10) NULL,
	[ten] [nvarchar](50) NULL,
	[dungluong] [nvarchar](20) NULL,
	[soluongton] [int] NULL,
	[gianhap] [decimal](20, 0) NULL,
	[giaban] [decimal](20, 0) NULL,
	[mota] [nvarchar](250) NULL,
	[anhsanpham] [varbinary](MAX) NULL,
	[barcode] [varchar](20) NULL,
	[trangthai] [int] NULL,
	[iddongsanpham] [uniqueidentifier] NULL,
	[idkhuyenmai] [uniqueidentifier] NULL,
	[idmausac] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DongSanPham] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[DongSanPham] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[DongSanPham] ADD  DEFAULT (NULL) FOR [ten]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [ngaytao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (NULL) FOR [ngaythanhtoan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [trangthai]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [dongia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [hoten]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [ngaysinh]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [sdt]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (NULL) FOR [diachi]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [trangthai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [ten]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [giatri]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [ngaybatdau]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [ngayketthuc]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (NULL) FOR [trangthai]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (NULL) FOR [ten]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [hoten]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [gioitinh]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [ngaysinh]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [sdt]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [email]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [diachi]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [matkhau]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [vaitro]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (NULL) FOR [trangthai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [ma]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [ten]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [dungluong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [soluongton]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [gianhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [giaban]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [mota]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [anhsanpham]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [barcode]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (NULL) FOR [trangthai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [PK_HoaDon_KhachHang] FOREIGN KEY([idkhachhang])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [PK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [PK_HoaDon_NhanVien] FOREIGN KEY([idnhanvien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [PK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [PK_HoaDonChiTiet_HoaDon] FOREIGN KEY([idhoadon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [PK_HoaDonChiTiet_HoaDon]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [PK_HoaDonChiTiet_SanPham] FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [PK_HoaDonChiTiet_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [PK_SanPham_DongSanPham] FOREIGN KEY([iddongsanpham])
REFERENCES [dbo].[DongSanPham] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [PK_SanPham_DongSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [PK_SanPham_KhuyenMai] FOREIGN KEY([idkhuyenmai])
REFERENCES [dbo].[KhuyenMai] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [PK_SanPham_KhuyenMai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [PK_SanPham_MauSac] FOREIGN KEY([idmausac])
REFERENCES [dbo].[MauSac] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [PK_SanPham_MauSac]
GO
USE [master]
GO
